/*------------------------------
=BASIC SETUP
------------------------------*/
body {overflow: scroll; 
	margin: 0 auto;
	padding: 0px;
	width: 1000px;
	height:764px;
       font: 13px/22px Helvetica, sans-serif;
	background: #F0F0F0;
       color:#000;
	
}

/*------------------------------
=INTRODUCTION
------------------------------*/

#intro {

        width:980px;
        margin: 5px auto; 
        padding: 0px;    
}

#introh2 {
        padding: 0;
        border:2px solid;
	 color: #336699;
        background: #99ff00;
        font-style:italic;
        text-shadow:0.1em 0.1em 0.05em #fff ;
}

/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/
#content {display: table;}
#mainContent {
	display: table-cell;
	width: 680px;
	padding-right: 2px;
       border:4px groove #ccf;
       height:480px;
}
	
/*------------------------------
=SIDEBAR
------------------------------*/
aside {
	display: table-cell;
       background:#ffffff;
       width: 300px;
       border:4px groove #ccf;
       height:480px;
}

aside section {
	margin: 2px 0 0 2px;}


/*------------------------------
           Footer
------------------------------*/
footer section{text-align:center;width:980px; }

#lastUpdated {
	position: relative;
	margin-top: 6px; 
	padding: 6px 0px;    
	background: #ccc;
       color:#000;
}
#lastUpdated p {
	padding: 0;
	color: #000;
       background: #ccc;
}

/*------------------------------
=showCase 
------------------------------*/
.showContent {display:inline;}
.hideContent {display:none;}



div.calculate{

	text-align:center;

}

div.mortDetails{

	text-align:center;
	margin-top:20px;
}



div.personal{width:180px;margin-left:120px;margin-top:10px;}

div.who{margin-top:5px;text-align:center;}

div.buttons{

	text-align:center;

}

div.property{
	margin-top:-190px;
	float:right;
	margin-right:60px;
	position:relative;
}

div.property>div.type{


	float:left;
	position:relative;
}

div.property>div.location{
	float:right;

}